<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<title>О программе</title>
	<meta charset="UTF-8">
	<link href="style.css" type="text/css" rel="stylesheet">
</head>

<body>
	<div>
		<input class="c" type="button" value="C" title="Вернуться" onclick="history.back()" />
		<span style="font-size: 18pt;">Кузьмин Евгений Михайлович 2022</span>
	</div>
	<h2>Клиент-серверное приложение</h2>
	<h1>&laquo;Сервис управления списками задач&raquo;</h1>
	<h3>Введение</h3>
	<p>
		Сервис управления списками задач помогает организовать совместную работу.
		Позволяет пользователям регистрировать возникающие задачи, а исполнителям решать задачи самостоятельно
		или привлекать исполнителей, в чьей зоне ответственности находится задача.
	</p>
	<h3>Учётные записи</h3>
	<p>
		Предусмотрено три уровня учётных записей:
	</p>
	<p>
		1. Администратор &mdash; обезличенная учётная запись, предназначенная только для регистрации новых пользователей в системе и изменения существующих.
	</p>
	<p>
		2. Пользователь &mdash; учётная запись, предназначенная только для регистрации задач. Может комментировать задачи, клиентом по которым является.
	</p>
	<p>
		3. Исполнитель &mdash; учётная запись, предназначенная для работы с задачами. Может регистрировать задачи от имени пользователей,
		может назначать свои или нераспределённые задачи на других исполнителей, может комментировать задачи, исполнителем по которым является,
		может отмечать выполнение задачи или помечать её как отложенную.
	</p>
	<h3>Управление учётными записями</h3>
	<p>
		Учётная запись содержит фамилию, имя и отчество пользователя, имя пользователя (адрес электронной почты, например), уровень учётной записи, а также пароль от неё.
		На странице &laquo;Управление учётными записями&raquo; можно создавать новых пользователей и изменять существующих.
		Доступ к управлению учётными записями имеют пользователи с уровнем Администратор.
	</p>
	<h3>Управление списком задач</h3>
	<p>
		Задача содержит тему задачи, описание задачи, автора задачи (клиента), дату создания задачи, регламентное время выполнения (+72 часа), а также исполнителя и состояние.
		На странице &laquo;Управление задачами&raquo; пользователи и исполнители работают в рамках своих полномочий, администратору доступ к этой странице запрещён.
	</p>
</body>
</html>
