<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Helpdesk</title>
    <meta charset="UTF-8">
    <link href="style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div>
        <span>Администратор</span>
        <input class="yellow" type="button" value="X" title="Разлогиниться" onclick="location.href='/logout'" />
        <input class="green" type="button" value="?" title="Справка" onclick="location.href='/help'" />
    </div>

    <div>
        <div class="block">
            <form action="mgmt" name="mgmt" method="post">
                <div class="marginBottom0">Добавить пользователя:</div>
                <table>
                    <tr>
                        <td class="ar">Имя пользователя:</td>
                        <td class="user">
                            <input type="text" required placeholder="example@mail.ru" name="username" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ar">Фамилия:</td>
                        <td class="user">
                            <input type="text" required placeholder="Фамилия" name="lastName" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ar">Имя:</td>
                        <td class="user">
                            <input type="text" required placeholder="Имя" name="firstName" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ar">Отчество:</td>
                        <td class="user">
                            <input type="text" required placeholder="Отчество" name="secondName" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ar">Пароль:</td>
                        <td class="user">
                            <input type="password" required placeholder="********" name="password" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ar">Роль:</td>
                        <td class="user">
                            <select name="credentials">
                                <option>ROLE_USER</option>
                                <option>ROLE_EXECUTOR</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <input class="blue" type="submit" value="+" title="Добавить пользователя" />
            </form>
        </div>

        <div class="block">
            <table>
                <tr>
                    <th>Имя пользователя</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Роль</th>
                </tr>
                <tr class="h" th:each="user:${users}" th:attr="onclick=|location.href='/user?id=${user.id}'|"
                    title="Изменить">
                    <td class="ac bl" th:text="${user.username}"></td>
                    <td class="ac" th:text="${user.lastName}"></td>
                    <td class="ac" th:text="${user.firstName}"></td>
                    <td class="ac" th:text="${user.secondName}"></td>
                    <td class="ac br" th:text="${user.credentials}"></td>
                </tr>
            </table>
        </div>
        <div class="blockr"></div>
    </div>
</body>
</html>
